@import '@/assets/style/variables';
@import '@/assets/style/base/mixins';
@import '@/assets/style/base/functions';

@keyframes blinking-cursor {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.contacts {
  &.active .blinking-cursor {
    animation: 1s blinking-cursor 1.4s step-end infinite;
  }

  .blinking-cursor {
    font-size: inherit;
    opacity: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
  }

  &__item {
    width: 100%;
    text-align: center;
    color: $color-light;

    &:not(:last-child) {
      margin-bottom: 60px;
    }

    h3 {
      font-size: rem(14);
      font-weight: 400;
      text-transform: uppercase;
    }

    ul > li {
      &:not(:last-child) {
        margin-bottom: rem(28);
      }
    }
  }

  &__link {
    font-size: rem(32);
    color: $color-light;
    transition: $transition-base;

    @include hover {
      color: $color-secondary;
    }

    @include respond-below(md) {
      font-size: rem(28);
    }

    @include respond-below(sm) {
      font-size: rem(24);
    }

    @include respond-below(xs) {
      font-size: rem(20);
    }
  }

  .social {
    &__list {
      display: flex;
      justify-content: center;
      margin: rem(-5) rem(-10);

      @include respond-below(xs) {
        flex-wrap: wrap;
      }
    }

    &__item {
      position: relative;
      margin: rem(-5) rem(10);
      border-radius: 50%;
      width: rem(48);
      height: rem(48);

      @include respond-below(xs) {
        width: rem(36);
        height: rem(36);
      }

      @include hover {
        .social__link {
          color: $color-secondary;
        }
      }
    }

    &__link {
      position: absolute;
      color: $color-light;
      transition: $transition-base;
      inset: 0;

      i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
