// general
$browser-context: 16;

// container settings
$mar: 32;
$items: 12;
$content-width: 1380;
$content-width-lg: 1580;
$container: $content-width + 2 * $mar;
$container-lg: $content-width-lg + 2 * $mar;

// fonts
$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Eurostile', sans-serif;
$ff-base: 'M PLUS 1p', sans-serif;
$font-size-primary: 1.25rem;
$font-weight-primary: 500;
$body-line-height: 1.5;
$heading-line-height: 1.2;

// colors
$color-black: #000;
$color-white: #fff;
$color-light: white;
$color-grey: #c8c8c8;
$color-light-grey: rgb(236 236 236);
$color-dark-grey: rgb(134 134 134);
$color-green: #627b7a;
$color-green-dark: #2c3d39;
$color-green-bright: #5be9b9;
$color-blue: #418af2;
$color-blue-dark: #418af2;
$color-red: #e61610;
$color-purple: #7843e9;
$color-primary: $color-purple;
$color-base: black;
$color-secondary: grey;
$color-dark: #141c3a;

// transitions
$transition-duration-primary: 0.35s;
$transition-primary: all $transition-duration-primary ease;
$transition-base: all 0.3s ease-in-out;
$transition-slow: all 0.4s ease-in-out;

// borders
$border-radius-primary: 0.25rem;

// box-shadows
$box-shadow-primary: 0 0 1rem rgba($color-primary, 0.25);

// breakpoints map
$breakpoints: (
  xxs: 320px,
  xs: 480px,
  sm: 768px,
  md: 992px,
  lg: 1280px,
  xl: 1440px,
  xxl: 1560px,
);

:root {
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-active-color: #fff;
}
