// ========== GLOBAL STYLES ========== //

html {
  font-size: px($browser-context);

  @include respond-below(md) {
    font-size: 14px;
  }
}

body {
  padding-left: $sidebar-width;
  font-family: $font-family-primary;
  font-size: $font-size-primary;
  font-weight: $font-weight-primary;
  line-height: $body-line-height;
  color: $color-white;

  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: $color-grey;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

.error {
  font-size: 0.75rem;
  color: $color-red;
}

// avoid content moving on overflow: hidden
.disable-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

// wrapper to prevent horizontal scroll
// if you want use position: sticky; - need to remove // overflow: hidden // !!!
.wrapper {
  overflow: hidden;
  min-height: 100vh;
}

// container
.container {
  margin: 0 auto;
  max-width: px($container);
  padding: 0 px(3.2 * $mar);

  &--lg {
    max-width: px($container-lg);
  }
}

// section offset, imit container
.offset-container {
  padding-left: max(px($mar), calc((100% - px($content-width)) / 2));
}

/* Hiding class, making content visible only to screen readers but not visually */

/* "sr" meaning "screen-reader" */
.sr-only:not(:focus, :active) {
  position: absolute;
  clip-path: inset(50%);
  overflow: hidden;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

// ========== TYPOGRAPHY ========== //
.text-block {
  ol,
  ul {
    li {
      &:not(:last-child) {
        margin-bottom: px(20);
      }
    }
  }

  strong,
  b {
    font-weight: 700;
  }

  em,
  i {
    font-style: italic;
  }

  mark {
    background-color: $color-primary;
    color: $color-white;
  }

  del {
    background-color: #fbb;
    text-decoration: line-through;
  }

  ins {
    background-color: #d4fcbc;
    text-decoration: none;
  }

  blockquote {
    border-left: px(3) solid $color-primary;
    padding-left: px(15);
  }

  > *:not(:last-child) {
    margin-bottom: px(20);
  }
}

.pages-list {
  padding-left: 1rem;

  > li {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    a {
      text-decoration: underline;
      transition: color $transition-duration-primary;

      @include hover {
        color: $color-primary;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: $heading-line-height;
}

h1,
.h1 {
  font-size: rem(24);
}

h2,
.h2 {
  font-size: rem(24);
}

h3,
.h3 {
  font-size: rem(24);
}

h4,
.h4 {
  font-size: px(20);
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 0.75rem;
}

// text with gradient
// .text-gradient {
//   background-image: linear-gradient(90deg, #19d0e9 0%, $color-white 100%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }


.file-input {
  position: relative;
  display: block;
  border: rem(2) dashed rgba($color-black, 0.1);
  border-radius: rem(3);
  height: rem(120);

  input {
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}
