// ========== BUTTONS ========== //
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: rem(2) solid $color-primary;
  border-radius: rem(28);
  padding: rem(12) rem(32);
  background-color: $color-primary;
  font-size: rem(18);
  font-weight: 500;
  line-height: 1.4285;
  white-space: nowrap;
  text-align: center;
  color: $color-white;
  cursor: pointer;
  transition: $transition-primary;
  gap: rem(8);

  @include hover {
    background-color: transparent;
    color: $color-primary;
  }

  &:focus,
  &:active {
    background-color: transparent;
    color: $color-primary;
  }

  &--delete {
    border-color: rgba($color-black, 0.2);
    background-color: $color-white;
    color: $color-red;

    @include hover {
      border-color: $color-red;
      background-color: $color-red;
      color: $color-white;
    }

    &:focus,
    &:active {
      border-color: $color-red;
      background-color: $color-red;
      color: $color-white;
    }
  }

  &--green {
    border-color: $color-green-bright;
    background-color: transparent;

    @include hover {
      background-color: $color-green-bright;
      color: $color-dark;
    }

    &:focus,
    &:active {
      background-color: $color-green-bright;
      color: $color-dark;
    }
  }

  &--animate {
    animation: btn-pulse 2s infinite;

    .btn:hover,
    .btn:focus {
      box-shadow: 0 0 0 rem(16) transparent;
      animation: btn-pulse 1s;
    }
  }

  &--outline {
    background-color: transparent;
    color: $color-primary;

    @include hover {
      background-color: $color-primary;
      color: $color-white;
    }

    &:focus,
    &:active {
      background-color: $color-primary;
      color: $color-white;
    }
  }
}

@keyframes btn-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($color-primary, 0.5);
  }

  100% {
    box-shadow: 0 0 0 rem(16) transparent;
  }
}

// ========== INPUTS ========== //
.input {
  input,
  textarea {
    appearance: none;
    outline: none;
    border: rem(1) solid rgba($color-black, 0.2);
    border-radius: rem(3);
    width: 100%;
    padding: rem(6) rem(11);
    background: none;
    font-size: rem(14);
    line-height: 1.4285;
    color: $color-black;
    resize: none;
    transition: $transition-primary;

    @include hover {
      border-color: $color-primary;
    }

    &:focus,
    &:active {
      border-color: $color-primary;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }

    &::placeholder {
      color: inherit;
    }
  }
}

// File Input
.file-input {
  position: relative;
  display: block;
  border: rem(2) dashed rgba($color-black, 0.1);
  border-radius: rem(3);
  height: rem(120);

  input {
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}

// Toggle Input
.toggle {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: rem(10);

  &__input {
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    opacity: 0;

    &:checked {
      + .toggle__slider {
        background-color: $color-green-bright;

        &::before {
          transform: translate(rem(40));
        }
      }

      ~ .toggle__label {
        color: $color-green-bright;
      }
    }
  }

  &__slider {
    flex: 0 0 rem(64);
    border-radius: rem(14);
    width: rem(64);
    height: rem(24);
    background-color: rgba($color-black, 0.1);
    transition: $transition-primary;

    &::before {
      content: '';
      position: absolute;
      left: rem(2);
      top: rem(2);
      border-radius: 50%;
      width: rem(20);
      height: rem(20);
      background-color: $color-white;
      box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
      transition: $transition-primary;
    }
  }

  &__label {
    font-size: rem(14);
    font-weight: 400;
    transition: color $transition-duration-primary;
  }
}

// ========== SELECT ========== //
.select {
  select {
    outline: none;
    border: rem(1) solid $color-primary;
    width: 100%;
    padding: rem(12) rem(10);
    background: none;
    font-size: rem(16);
    line-height: 1;
    color: $color-black;
    transition: $transition-primary;

    @include hover {
      border-color: $color-primary;
    }

    &:focus,
    &:active {
      border-color: $color-primary;
    }
  }
}
