// ========== RADIO ========== //
.radio {
  position: relative;
  display: block;
  padding-left: px(40);
  cursor: pointer;
  user-select: none;

  @include hover {
    input ~ .radio__mark {
      background-color: rgba(#aeaeae, 0.5);
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked {
      ~ .radio__mark {
        &::after {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }

  &__mark {
    position: absolute;
    left: 0;
    top: 0;
    border: px(1) solid #aeaeae;
    border-radius: 100%;
    width: px(24);
    height: px(24);
    background-color: $color-white;
    transition: $transition-primary;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      border: 1px solid #559a1e;
      border-radius: 50%;
      width: px(16);
      height: px(16);
      background-color: #e5ffd1;
      transform: translate(-50%, -50%) scale(0);
      transition: $transition-primary;
    }
  }
}
