@import '@/assets/style/variables';
@import '@/assets/style/base/functions';

.scroll-down {
  border-top: none;
  border-right: rem(2) $color-light solid;
  border-bottom: rem(2) $color-light solid;
  border-left: none;
  width: rem(40);
  height: rem(40);
  transform: translateX(-50%) rotate(45deg);

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin: rem(-10) 0 0 rem(-10);
    border-top: none;
    border-right: rem(1) $color-light solid;
    border-bottom: rem(1) $color-light solid;
    border-left: none;
    width: rem(20);
    height: rem(20);
    animation-name: scroll-down-anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

@keyframes scroll-down-anim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-10px, -10px)
  }
}
