// ========== ASIDE ========== //
.aside {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  overflow: auto;
  width: $sidebar-width;
  height: 100vh;
  padding: rem(10) rem(8);
  background-color: $color-green;

  &__logo {
    display: inline-block;

    img {
      display: block;
      width: rem(24);
      height: rem(24);
      object-fit: contain;
    }
  }
}
