.intro {
  &__content {
    width: 50vw;
    margin: 100px auto;
    padding: 20px;
    color: $color-light;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba($color-light, 0.6);
    @include respond-below(md) {
      width: 60vw;
      margin: 80px auto;
    }
    @include respond-below(sm) {
      width: 70vw;
      padding: 10px;
    }
    @include respond-below(xs) {
      width: 80vw;
    }
    p {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      font-size: 25px;
      font-weight: 100;
      @include respond-below(sm) {
        font-size: 20px;
      }
      @include respond-below(xs) {
        font-size: 14px;
      }
      span {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
  }
  &__title {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: normal;
    text-transform: uppercase;
    @include respond-below(md) {
      font-size: 45px;
    }
    @include respond-below(sm) {
      font-size: 40px;
    }
    @include respond-below(xs) {
      font-size: 35px;
    }
  }

  @function multiple-box-shadow($n) {
    $value: '#{random(2000)}px #{random(2000)}px #FFF';
    @for $i from 2 through $n {
      $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
    }

    @return unquote($value);
  }

  $shadows-small: multiple-box-shadow(700);
  $shadows-medium: multiple-box-shadow(200);
  $shadows-big: multiple-box-shadow(100);

  .stars-small {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    animation: animStar 50s linear infinite;
    &:after {
      content: '';
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $shadows-small;
    }
  }

  .stars-medium {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 100s linear infinite;

    &:after {
      content: '';
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $shadows-medium;
    }
  }

  .stars-big {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 150s linear infinite;

    &:after {
      content: '';
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-big;
    }
  }

  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }
}
