@import '@/assets/style/variables';
@import '@/assets/style/base/mixins';
@import '@/assets/style/base/functions';

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin: rem(-12);

  > li {
    flex: 0 0 25%;
    max-width: 25%;
    padding: rem(12);

    @include respond-below(md) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @include respond-below(xs) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.work-card {
  &__link-box {
    position: relative;
    overflow: hidden;
    text-align: center;

    @include hover {
      .work-card__details {
        background-color: rgba($color-dark, 0.95);
        opacity: 1;
        transform: translateY(0);
      }
    }

    > a {
      display: block;
      padding-bottom: 48%;

      > img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top left;
      }
    }
  }

  &__title {
    overflow: hidden;
    margin-bottom: rem(4);
    font-size: rem(24);
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;

    @include respond-below(sm) {
      font-size: rem(18);
    }
  }

  &__details {
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: rem(12);
    font-size: rem(12);
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.5s;

    > h3 {
      margin-bottom: rem(8);
      font-size: rem(16);
      text-align: left;
      text-transform: uppercase;
      color: $color-light;
    }

    > ul {
      list-style: disc outside;
      padding-left: rem(12);
      text-align: left;
      text-transform: uppercase;
      color: $color-light;

      > li {
        &:not(:last-child) {
          margin-bottom: rem(2);
        }
      }
    }
  }
}
