@import '@/assets/style/variables';
@import '@/assets/style/base/mixins';
@import '@/assets/style/base/functions';

@function multiple-box-shadow($n) {
  $value: '#{random(125)}rem #{random(125)}rem #FFF';

  @for $i from 2 through $n {
    $value: '#{$value} , #{random(125)}rem #{random(125)}rem #FFF';
  }

  @return unquote($value);
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-2000px);
  }
}

.intro {
  &__container {
    width: 100%;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: rem(48) 0 rem(110);

    @include respond-below(md) {
      display: flex;
    }
  }

  &__content {
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px 5px rgba($color-light, 0.6);
    text-transform: uppercase;
    color: $color-light;
  }

  &__title {
    margin-bottom: rem(28);
    font-family: monospace;
    font-size: rem(64);
    font-weight: normal;
    text-transform: uppercase;

    @include respond-below(xs) {
      font-size: rem(42);
    }

    &::before {
      content: '<';
    }

    &::after {
      content: '/>';
    }
  }

  &__body {
    font-family: monospace;
    line-height: 1;

    p {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      font-size: rem(24);
      font-weight: 300;
      letter-spacing: rem(3);

      @include respond-below(xs) {
        font-size: rem(18);
      }

      span {
        &:not(:last-child) {
          margin-bottom: rem(10);
        }
      }
    }
  }

  &__scroll-down {
    position: absolute;
    left: 50%;
    bottom: 2rem;
  }
}


.stars-small {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: multiple-box-shadow(700);
  animation: animStar 50s linear infinite;

  &::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: multiple-box-shadow(700);
  }
}

.stars-medium {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: multiple-box-shadow(200);
  animation: animStar 100s linear infinite;

  &::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: multiple-box-shadow(200);
  }
}

.stars-big {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: multiple-box-shadow(100);
  animation: animStar 150s linear infinite;

  &::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: multiple-box-shadow(100);
  }
}
